body{
    /*background: rgb(191, 221, 255);*/
    background-image: url("images/blueBackround.png");
    background-attachment: fixed;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color: rgb(191, 221, 255);
    text-align: center;
    font-size: 30pt;
    background: rgb(139, 138, 138, 0.7);
    border-radius: 10px;
}

.assignments{
    display: flex;
    flex-wrap: wrap;
}

.assignment {
    width: 20%;
    padding: 10px;
    margin: 10px;
    padding: 20px 10px;
    background: rgb(139, 138, 138, 0.7);
    border-radius: 10px;
}

.assignment img {
    width: 200px;
    border: 4px solid rgb(191, 221, 255);
    border-radius: 10px;
    margin: 10px;
    display: block;
    margin: auto;
}

.assignment img:hover {
    border: 4px solid #fdae8f;
}

a {
    text-align: center;
    text-decoration: none;
    color: rgb(191, 221, 255);
}

a:hover {
text-decoration: underline;
color : #fdae8f;
}